# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

# Crash logs
crash.log

# IDE / Editor
.vscode/
.idea/
*.swp

# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.backup